{% extends "./_layout.html" %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <a class="btn btn-outline-secondary" href="{{ url_for('student.index') }}"><i class="fa fa-chevron-left"></i> Back To List</a>
                    <a href="{{ url_for('student.save', studentid=student.id) }}" class="btn btn-outline-warning"><i class="fa fa-edit"></i> Edit</a>
                    <a href="{{ url_for('student.update_rank', studentid=student.id) }}" class="btn btn-outline-primary"><i class="fe fe-award"></i> Update Rank</a>
                    <a href="{{ url_for('student.make_payment', studentid=student.id) }}" class="btn btn-outline-success"><i class="fe fe-dollar-sign"></i> Payments</a>
                </h3>
            </div>
            <div class="card-body">
                <p>
                    Student Number :
                    <b>{{ student.id }}</b>
                </p>
                <p>
                    Student Name :
                    <b>{{ ("%s %s %s" % (student.person.last_name, student.person.first_name, student.person.other_names)) }}</b>
                </p>
                <p>
                    Current Rank :
                    <b>{{ student.current_rank() }}</b>
                </p>
                <p>
                    Date of Birth :
                    <b>{{ student.date_of_birth }}</b>
                </p>
                {% if student.person.phone_number %}
                <p>
                    Phone Number :
                    <b>{{ student.person.phone_number }}</b>
                </p>
                {% endif %}
                {% if student.person.email_address %}
                <p>
                    Email Address :
                    <b>{{ student.person.email_address }}</b>
                </p>
                {% endif %}
                {% if student.address %}
                <p>
                    Home Address :
                    <b>{{ student.address }}</b>
                </p>
                {% endif %}
                <p>
                    Date Joined :
                    <b>{{ student.date_joined }}</b>
                </p>
                <hr>
                {% if student.parents %}
                    <h3>Parents Information</h3>
                    {% for parent in student.parents %}
                    <p>
                        Parent Name:
                        <b>{{ ("%s %s %s" % (parent.last_name, parent.first_name, parent.other_names)) }}</b>
                    </p>
                    <p>
                        Phone Number:
                        <b>{{ parent.phone_number }}</b>
                    </p>
                    <p>
                        Email Address:
                        <b>{{ parent.email_address }}</b>
                    </p>
                    <a href="{{ url_for('student.add_parent', studentid=student.id, parentid=parent.id) }}" class="btn btn-outline-warning btn-sm">Edit Parent</a>
                    <a href="" data-parentid="{{ parent.id }}" class="btn btn-outline-danger btn-sm remove-parent">Remove Parent</a>
                    <hr>
                    {% endfor %}
                {% endif %}

                <a href="{{ url_for('student.add_parent', studentid=student.id) }}" class="btn btn-primary"> Add Parent</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

<script type="text/javascript">

    $(document).ready(function () {
        $('.remove-parent').on('click', function () {
            var studentid = '{{ student.id }}';
            var parentid = $(this).attr('data-studentId');
            var url = '/student/' + studentid + '/deleteparent/' + parentid;
            var title = "Remove This Parent?"

            confirmDelete(url, title);
        });

    });

</script>

{% endblock %}